<style type="text/css">
    .custom-ac-input {
        width: 150px;
        margin-rigth: 10px;
    }
    
    .custom-ac-label {
        margin-rigth: 10px;
    }
    
    .custom-css-input {
        min-height: 200px;
    }    
</style>

<% 4.times do |idx| %>
    <p>
      <label class='custom-ac-label'>Поле для автозаполнения: </label>
      <%= text_field_tag 'settings[acfield'+idx+']', @settings['acfield'+idx], class: "custom-ac-input" %>&nbsp;
      <label class='custom-ac-label'>Источник: </label>
      <%= text_field_tag 'settings[acsource'+idx+']', @settings['acsource'+idx] %>
      <label class='custom-ac-label'>Значения: </label>
      <%= text_field_tag 'settings[acvalues'+idx+']', @settings['acvalues'+idx] %>
    </p>
<% end %>

<p>
  <label>Пользовательские CSS стили</label>
  <br/>
  <%= text_area_tag 'settings[css]', @settings['css'] %>
</p>
